.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
	font-size: 1.25em;
	background-color: #1e1e24;
	color: #DDDDDD;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}


.markdown-body h2 {
    font-size: 1.67em;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom-style: solid;
    border-color: #FFCC2F;
    border-width: 2px;
}

.markdown-body h3 {
  font-size: 1.33em; 
  text-align: center;
}

.markdown-body p {
    margin: 1em 0;
    width: auto;
}

.markdown-body mark {
     background-color: #FFCC2F; 

}

.markdown-body pre,
code {
  background-color: #1e1e24;
  color: #DDDDDD;
}

.markdown-body pre {
  padding: 8px 12px;
  overflow-x: auto;

  /* to wrap text in highlight */
  white-space: pre-wrap;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;

  }
}


.markdown-body img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;

// Center images

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.markdown-body blockquote {
  color: $DDDDDD;
  background-color: $1e1e24;
  border-left: 1px solid #DDDDDD;
}

